doctype
html( lang="en" )
    head
        title Url Shortener API
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Url Shortener API' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
 
    body(style="padding-bottom:10rem;")
        .container
            .row.text-center
                .col-md-12
                    h1 URL Shortener API Service
                    hr
            .row.well.text-center
                .col-md-12
                    h1 Simple API using NodeJS and express. MongoDB as DB.
                    
                    
 
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )